.hotel {
  padding: 0 15px;
  text-align: center;
}

// .hotel__title {
// }

// .visually-hidden {
// }

.hotel__subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.23;
}

.hotel__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

// .hotel__button {
// }
