.hotel {
  padding: 0 15px;
  text-align: center;
}

.hotel__title {
}

.visually-hidden {
}

.hotel__subtitle {
  @extend .title__mobile;
  font-size: 21px;
  line-height: 1.23;
}

.hotel__description {
  @extend .paragraph__mobile;
  line-height: 1.71;
}

.hotel__button {
}
