.page {
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.44;
  text-transform: uppercase;

  max-width: 1200px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  // padding: 0 15px;
  margin: 0;
}
