.tips {
  padding: 0 15px;
}

.tips__list {
  list-style: none;
  padding: 0;
}

// .tips__item {
// }

.tips__subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.44;
}

.tips__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
